<!-- used by new, create (fail), edit, update (fail) -->
<!--<h4>Rails model-backed form helpers<h4>-->

<%= render 'shared/errors', obj: @post %>

<!--form_for does a lot of guessing - can handle new, update. 
therefore, form partials!-->
<div class='well span6'>
  <%= form_for @post do |f| %>
  <!-- can only refer to attributes or virtual attributes, unlike basic helpers/HTML -->
    <div class='control-group'>
      <%= f.label :title, 'Input Title:' %>
      <%= f.text_field :title %>
    </div>
      <br/>
    <div class='control-group'>
      <%= f.label :url, 'Input Link URL:' %>
      <%= f.text_field :url %>
    </div>
      <br/>
    <div class='control-group'>
      <%= f.label :description, 'Describe Post:' %>
      <%= f.text_area :description, rows: 4 %>
    </div>
      <br/>

      <select name = 'post[options][]', multiple = 'multiple'>
        <option value = '1'>option 1</option>
        <option value = '2'>option 2</option>
      </select>
      
      <br/>
      <%= f.submit @post.new_record? ? "Create Post" : "Save Edits", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>