<p class='pull-right'>
  <%= link_to 'Edit This Post', edit_post_path(@post) %>
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= link_to 'Link to article', fix_url(@post.url) %>
</p>

<p>
<%= @post.description %>
</p>

<h5>Create a comment:</h5>
<%= render 'shared/errors', obj: @comment %>
<%= form_for [@post, @comment] do |f| %> <!-- submit to posts/:post_id/comments -->
  <%= f.text_area :body %>
  <br/>
  <%= f.submit "Create Comment", class: "btn btn-prmary" %>
<% end %>

<% if @post.comments.any? %>
  <ul>
   <% @post.comments.each do |comment| %>
     <div class="well span6">
       <li>
          <p><%= comment[:body] %><p>
          by <%= @user.username %> at <%= comment.created_at %>
       </li>
     </div>
    <% end %>
<% end %>


<%= link_to 'Go back to all posts', posts_path %>