<% if logged_in? %>
  <p class='pull-right'>
    <%= link_to 'Edit This Post', edit_post_path(@post) %>
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= link_to 'Link to article', fix_url(@post.url) %>
</p>

<p>
<%= @post.description %>
</p>
<br/>

<% if logged_in? %>
  <h5>Create a comment:</h5>
  <%= render 'shared/errors', obj: @comment %>
  <%= form_for [@post, @comment] do |f| %> <!-- submit to posts/:post_id/comments -->
    <%= f.label :body, "Type your comment" %> 
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.submit "Create Comment", class: "btn btn-prmary" %>
  <% end %>
<% end %>

<% if @post.comments.any? %>
  <h5>Comments:</h5>
    <% @post.comments.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
<% end %>


<%= link_to 'Go back to all posts', posts_path %>