<p class='pull-right'>
  <%= link_to 'Edit This Post', edit_post_path(@post) %>
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
<%= @post.description %>
</p>

<% if @comment.errors.any? %>
  <div class = "alert alert-error">
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<h5>Create a comment:</h5>
<%= form_for [@post, @comment] do |f| %>

  <%= f.text_area :body %>
  <br/>
  <%= f.submit "Create Comment", class: "btn btn-prmary" %>
<% end %>

<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%= comment[:body] %></li>
    <% end %>
<% end %>


<%= link_to 'Go back to all posts', posts_path %>